:root {
	--dark: #F0C7E1;
	--darker: #DCB4EA;
	--darkest: #B3A2EA;
	--grey: #BEC5EA;
	--pink: #FBB4C9;
	--purple: #FBB4C9;
	--light: #EBE7E1;
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);

}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: "Kurale", serif;
}

main{
	font-family: "Kurale", serif;
}

header h1{ 
	font-size: 5rem;
	font-weight: 500;
	color: #3B424A;
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input{
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: #8F8F8F;
	font-size: 1.25rem;
	box-shadow: rgba(0, 0, 0, .1) 15px 28px 25px -18px;
	border-width: 2px;
	line-height: 23px;
	border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
	border-style: solid;
}

#new-task-input::placeholder {
	color: #8F8F8F;
}

#new-task-submit {

		background-color: var(--darker);
		background-position: 0 90%;
		background-repeat: repeat no-repeat;
		background-size: 4px 3px;
		border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
		border-style: solid;
		border-width: 2px;
		box-shadow: rgba(0, 0, 0, .1) 15px 28px 25px -18px;
		box-sizing: border-box;
		color: #8F8F8F;
		cursor: pointer;
		display: inline-block;
		font-family: "Kurale", serif;
		font-weight: bold;
		font-size: 1rem;
		line-height: 23px;
		outline: none;
		padding: .75rem;
		text-decoration: none;
		transition: all 235ms ease-in-out;
		border-bottom-left-radius: 15px 255px;
		border-bottom-right-radius: 225px 15px;
		border-top-left-radius: 255px 15px;
		border-top-right-radius: 15px 225px;
		border-radius: 1rem;
	
 		
}

#new-task-submit:hover {
	box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  	transform: translate3d(0, 2px, 0);

}

#new-task-submit:active {
	box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 2.5rem;
	font-weight: 300;
	color: #3B424A;
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: #3B424A;
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
	background-color: var(--darker);
}

.task .content .text:not(:read-only) {
	color: #3B424A;
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	color:  #3B424A;
}

.task .actions .delete {
	color:  #3B424A;
}

.task .actions .done {
	color:  #3B424A;
}

.task .actions .undo {
	color:  #3B424A;
}

.task .actions .donee {
	font-weight: 700;
}

.task .strike .text  {
	color: green !important;
	text-decoration: line-through !important;

}


@media only screen and (max-width: 600px) {

	header {
		padding: 0.5rem 0.25rem;
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		font-family: "Kurale", serif;
	}


	header h1{ 
		font-size: 2.5rem;
		font-weight: 500;
		color: #3B424A;
		margin-bottom: 0.7rem;
	}

	#new-task-input{
		flex: 1 1 0%;
		background-color: var(--darker);
		padding: 0.4rem;
		border-radius: 1rem;
		margin-right: 0.7rem;
		color: #8F8F8F;
		font-size: 1rem;
		box-shadow: rgba(0, 0, 0, .1) 15px 28px 25px -18px;
		border-width: 1.8px;
		line-height: 20px;
		border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
		border-style: solid;
	}


	#new-task-submit {

		background-color: var(--darker);
		background-position: 0 90%;
		background-repeat: repeat no-repeat;
		background-size: 2px 1.5px;
		border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
		border-style: solid;
		border-width: 1.8px;
		box-shadow: rgba(0, 0, 0, .1) 15px 28px 25px -18px;
		box-sizing: border-box;
		color: #8F8F8F;
		cursor: pointer;
		display: inline-block;
		font-family: "Kurale", serif;
		font-weight: bold;
		font-size: 1rem;
		line-height: 20px;
		outline: none;
		padding: .6rem;
		text-decoration: none;
		transition: all 235ms ease-in-out;
		border-bottom-left-radius: 15px 255px;
		border-bottom-right-radius: 225px 15px;
		border-top-left-radius: 255px 15px;
		border-top-right-radius: 15px 225px;
		border-radius: 1rem;
	
 		
}


main {
	flex: 1 1 0%;
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	font-size: 0;

.task-list {
	padding: 0.2rem;
}

.task-list h2 {
	font-size: 1.7rem;
	font-weight: 300;
	color: #3B424A;
	margin-bottom: 0.7rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darker);
	padding: 0.2rem;
	border-radius: 0.65rem;
	font-size: 0;

}

.task .actions {
	display: grid;
	grid-row-gap: 2px;
	grid-column-gap: 1px;
	font-size: 0;
	text-align: center;
}



.task .actions button {
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
	width: 90px;
	padding: none;
}

}

}


